@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  /* Photo credit to Kamran Aydinov */
  background: url(assets/images/vegetableComposition.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  font-family: "Karla", sans-serif;
  margin: 0;
}

.container {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex {
  display: flex;
}

input,
button {
  border: 1px solid #dedede;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px;
  padding: 8px 10px;
  margin: 0;
}

input[type="text"] {
  width: 300px;
}

search-btn {
  cursor: pointer;
  border-left: 0;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.random-btn {
  cursor: pointer;
  margin-left: 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* CSS for the snackbar that is positioned at the bottom-middle of the screen */
#snackbar {
  /* Hidden by default. */
  visibility: hidden;
  /* Sets a default minimum width */
  min-width: 250px;
  /* Divides value of min-width by 2 */
  margin-left: -125px;
  /* Blue background color */
  background-color: #416872;
  /* White text color */
  color: #ffffff;
  /* Centered text */
  text-align: center;
  /* Rounded borders */
  border-radius: 2px;
  /* Padding */
  padding: 16px;
  /* Sits on top of the screen */
  position: fixed;
  /* Adds a z-index if needed */
  z-index: 1;
  /* Centers the snackbar */
  left: 50%;
  /* 30px from the bottom */
  bottom: 30px;
}

/* Shows the snackbar (functionality added with JavaScript) */
#snackbar.show {
  /* Shows the snackbar */
  /* Adds animation: Takes 0.5 seconds to fade in and out the snackbar.*/
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media (max-width: 800px) {
}
@media (max-width: 700px) {
}
@media (max-width: 500px) {
  input[type="text"] {
    width: 100%;
  }
}
